@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);


/* Normalizer */
* {
	padding: 0;
	margin: 0;
	border: none;
}




/* Resets */
body {
	color: white;
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

ul, ol {
	list-style: none;
}

a{
	text-decoration: none;
}




/* Structure */
#container {}

.welcome {
	background-image: url(images/bgonenew.jpg);
}

.list {
	background-image: url(images/bgtwonew.jpg);
}






/* Header */
header {
	padding-top: 2%;
}

h1 {
	font-size: 12vw;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 12vw;
}

h1 span {
	font-weight: 700;
}

h1 a {
	color: white;
}






/* Navigation */
/* Index (Welcome) Navigation Dropdown */
nav {
	border-top: .6vw solid white;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 2vw;
    font-weight: 300;
}

.welcome nav ul {
	float: right;
}

.welcome nav ul li {
	float: left;
	position: relative;
}

.welcome nav ul li a {
	padding: 1vw 1vw;
	display: block;
	cursor: pointer;
}

.welcome nav ul li:hover {
	color: #391e13;
	background-color: white;
}

.welcome nav ul li form {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 3;
}

.welcome nav ul li #login-drop {
	left: 0vw;
}

.welcome nav ul li #register-drop {
	right: 0vw;
}

.welcome nav ul li input, .welcome nav ul li select {
	background-color: #dcd6d6;
	color: #3d3d3d;
    display: block;
    float: none;
    height: 2vw;
    margin: 0.5vw;
    padding: 0 0.6vw;
    width: 13.5vw;
}

.welcome nav ul li select {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	padding: 0 0.9vw 0 0.29vw;
	color: #3d3d3d;
}

.welcome input[type='submit']{
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	background-color: #ed5c00;
    box-shadow: 0.2vw 0.2vw 0vw #961700;
    cursor: pointer;
    font-size: 1.6vw;
    font-weight: 300;
    letter-spacing: 0.2vw;
    margin: 0.9vw 0.5vw;
    text-transform: uppercase;
    color: white;
}

.welcome nav ul li:hover form {
	display: block;
}


/* List Navigation Icon & Popup */
#add_trigger {
	position: fixed;
	font-size: 6vw;
	z-index: 3;
	bottom: 1.6vw;
	right: 7.5%;
	background-color: rgba(237,92,0,1);
	cursor: pointer;
	width: 6vw;
	height: 6vw;
	text-align: center;
	border-radius: 100vw;
	border
}

#add_trigger:hover {
	background-color: white;
	color: #ed5c00;
}

#add_trigger i {
	display: block;
	line-height: 6.5vw;
	-ms-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
}

/* Add Bar */
#add_bar {
	position: fixed;
	display: none;
	z-index: 5;
	left: -50%;
	bottom: 1.6vw;
	height: 6vw;
	width: 86%;
	overflow: hidden;
}

#add_form {
	position: absolute;
    left: 8.7%;
    bottom: 1.75vw;
    z-index: 4;
    width: 88%;
}

.list #add_bar #add_form input {
	background-color: #dcd6d6;
	color: #3d3d3d;
    display: inline-block;
    height: 2.5vw;
    width: 12vw;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;
}

.list #add_bar #add_form input:nth-of-type(2) {
    width: 37vw;
}

.list #add_bar #add_form select {
	background-color: #dcd6d6;
	color: #3d3d3d;
    display: inline-block;
    height: 2.5vw;
    width: 9vw;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;
}

.list #add_bar #add_form input[type='submit'] {
	background-color: #ed5c00;
	box-shadow: 0.2vw 0.2vw 0vw #961700;
    cursor: pointer;
	color: white;
    display: inline-block;
    height: 2.5vw;
    width: 9vw;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;
}

#add_bar_left {
	background: white;
	width: 99%;
	height: 100%;
	position: relative;
	-ms-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
}






/* List Body */
.list main #items {
	margin: 2vw auto 0;
}

.list main #items .item {
	width: 85%;
	margin: 0 auto 1vw;
	padding: 1vw 0;
	background-color: rgba(52,25,18,.6);
	border-bottom: 1px solid rgba(150,23,0,.6);
	border-radius: .2vw;
}

.list main #items .item:hover {
	border-bottom: 1px solid rgba(237,92,0,1);
}

.list main #items .item:last-of-type {
	margin: 0;
}

.list main #items div h4 {
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 2vw;
    font-weight: 200;
    /*display: inline-block;*/
    margin: 0 1.2vw;
    /*float: left;*/
}

.list main #items .high-pr h4 {
    font-weight: 600;
    color: white;
    text-shadow: 0.2vw 0.2vw 0 rgba(52, 25, 18, 0.6);
}

.list main #items .low-pr h4 {
    color: rgba(220, 210, 206, 0.8);
}


.list main #items div p {
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 1.5vw;
    font-weight: 200;
   /* display: inline-block;*/
  	margin: 0 1.2vw;
    float: left;
}

.list main #items .high-pr p {
    font-weight: 600;
    color: white;
    text-shadow: 0.2vw 0.2vw 0 rgba(52, 25, 18, 0.6);
}

.list main #items .low-pr p {
    color: rgba(220, 210, 206, 0.8);
}

.list main #items div .strike {
	text-decoration: line-through;
}






/* List Edit Bar */
.list main .edit_bar {
	display: none;
	position: relative;
    width: 100%;
    /*height: 4vw;*/
    margin: 1vw 0;
    overflow: hidden;
	/*height: 4vw;
	background-color: white;
	margin: 1vw 0 1vw;
	width: 95%;*/
	/*padding: 0 7.5%;*/
}

/* White Bars */
.list main .edit_bar .edit_bar_left {
	position: absolute;
    left: -1vw;
    top: 0px;
    z-index: 1;
    height: 100%;
    background-color: white;
    /* margin: 1vw 0 1vw; */
    width: 85%;
    -ms-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
	/*padding: 0 7.5%;*/
}

.list main .edit_bar .edit_bar_right {
	position: absolute;
    right: -1vw;
    top: 0px;
    z-index: 1;
    height: 100%;
    background-color: white;
    /* margin: 1vw 0 1vw; */
    width: 16%;
    -ms-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
	/*padding: 0 7.5%;*/
}


/* List Edit Form */
.list main .edit_bar .edit_form {
	position: relative;
	float: left;
	width: 76%;
    padding: 1% 3% 1% 7%;
	z-index: 2;
	font-family: 'Roboto Condensed', helvetica, arial, sans-serif;
}

.list main .edit_bar .edit_form input {
	background-color: #dcd6d6;
	color: #3d3d3d;
    display: inline-block;
    height: 2vw;
    width: 12vw;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;
}

.list main .edit_bar .edit_form input:nth-of-type(3) {
	width: 37vw;

}

.list main .edit_bar .edit_form select {
	background-color: #dcd6d6;
	color: #3d3d3d;
    display: inline-block;
    height: 2vw;
    width: 9vw;
    border-radius: 0px;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;
    border-radius: 0
}

.list main .edit_bar .edit_form input[type='submit'] {
	background-color: #ed5c00;
	box-shadow: 0.2vw 0.2vw 0vw #961700;
    cursor: pointer;
	color: white;
	width: 9vw;
    /*display: inline-block;
    height: 2vw;
    margin: 0 0 0 .5vw;
    padding: 0 1vw;*/
}

/* List Edit Icons */
.list main #items .edit_icons {
	position: relative;
	float: right;
	width: 13.7%;
	z-index: 2;
}

.list main #items div i {
	font-size: 2vw;
	display: inline-block;
	padding: 1vw 1vw 1vw .5vw;
	color: rgba(237,92,0,1);
}





/* List Footer */
footer {

}

footer div {
    width: 100%;
    padding: 1vw 0;
}

footer div h6, footer div h5 {
	float: left;
	z-index: 4;
}

footer div h6 {
	font-size: 6vw;
	font-weight: 300;
	text-transform: uppercase;
}

h6 span {
	font-weight: 700;
}

h5 {
	float: right;
	padding: 0 0 0 3vw;
}

h5 i {
	-ms-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
    -moz-transform: skew(-8deg);
    -o-transform: skew(-8deg);
}

h5 a {
	color: white;
	font-size: 6vw;
}

h5 a:hover {
	color: #ed5c00;
}






/* Error Message */
.error {
	display: none;
	position: fixed;
	left: 25%;
	width: 50%;
	background: white;
	box-shadow: 1px 1px 10px rgba(11, 41, 54, .8);
	font-size: 2vw;
	color: #3d3d3d;
}

.active {
	display: block;
}

.error p {
	text-align: center;
	margin: 50px 20px 10px;
}

.error .err_button {
    background-color: #ed5c00;
    box-shadow: 0.2vw 0.2vw 0vw #961700;
    cursor: pointer;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 300;
    letter-spacing: 0.2vw;
    margin: 0 25% 50px;
    color: white;
}

.error .err_button i {
}




/* General Classes */
.sub {
	width: 85%;
	margin: 0 auto;
}

.clear:after {
	clear: both;
	display: block;
	content: "";
}





@media screen and (max-width: 1131px){

	/* Edit & Add Form Inputs */
	.list main .edit_bar .edit_form input {
    	width: 10vw;
	}

	.list main .edit_bar .edit_form input:nth-of-type(3) {
    	width: 34vw;
	}

	.list main .edit_bar .edit_form select {
    	width: 11vw;
	}

	.list main .edit_bar .edit_form input[type='submit'] {
    	width: 11vw;
	}


	.list #add_bar #add_form input {
	    width: 10vw;
	}

	.list #add_bar #add_form input:nth-of-type(2) {
	    width: 34vw;
	}

	.list #add_bar #add_form select {
	    width: 11vw;
	}

	.list #add_bar #add_form input[type='submit'] {
	    width: 11vw;
	}
}

@media screen and (max-width: 684px){


}






/* Form Input Fixes */

::-webkit-input-placeholder {
   color: #3d3d3d;
   opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #3d3d3d;
   opacity: 1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #3d3d3d;
   opacity: 1;  
}

:-ms-input-placeholder {  
   color: #3d3d3d;
   opacity: 1;  
}

:placeholder{
	color: #3d3d3d;
	opacity: 1;
}

::placeholder{
	color: #3d3d3d;
	opacity: 1;
}

select,select option{
	color: #3d3d3d !important;
}